doctype html
style.
    body {
        height: 100%;
        font-family: 'Helvetica Neue', 'Lato', sans-serif;
        background: #3dadf7;
    }
html(lang="en")
  head
    title='Smart Bot \'16'
  center
    body
      h1 Smart Bot '16
      h4 (still under development)
      iframe(src=iframeUrl, width='500', height='560')
      h4 Copyright &copy; Raul Butuc 2016
